<style>
    * {
      box-sizing: border-box;
    }
    
    .column {
      float: left;
      width: 33.33%;
      padding: 5px;
    }
    
    /* Clearfix (clear floats) */
    .row::after {
      content: "";
      clear: both;
      display: table;
    }
    </style>
    <div class="row">
        <div class="column">
          <img src="../../assets/audi.png" alt="Snow" style="width:100%;height: 200px;">
          <h3>Audi</h3>
        </div>
        <div class="column">
          <img src="../../assets/benz.jpg" alt="Forest" style="width:100%;height: 200px;">
          <h3>Benz</h3>
        </div>
        <div class="column">
          <img src="../../assets/bmw.png" alt="Mountains" style="width:100%;height:200px">
          <h3>BMW</h3>
        </div>
      </div>

      <div style="margin-left:20px;margin-right: 40px;text-align: justify;">
    <h3>A luxury vehicle provides increased levels of comfort, equipment, amenities, quality, performance, and status relative to regular cars for an increased price.

        The term is subjective and reflects both the qualities of the car and the brand image of its manufacturer.[1] Luxury brands rank above premium brands,[2] though there is no fixed demarcation between the two.
        
        Traditionally, most luxury cars were large vehicles, though smaller sports-oriented models were always produced. “Compact“ luxury vehicles such as hatchbacks, and off-road capable sport utility vehicles, are relatively modern trends</h3>
    
    </div>
      
