<style>
    * {
      box-sizing: border-box;
    }
    
    .column {
      float: left;
      width: 50%%;
      padding: 5px;
    }
    
    /* Clearfix (clear floats) */
    .row::after {
      content: "";
      clear: both;
      display: table;
    }
    </style>
    <div class="row">
        <div class="column">
          <img src="../../assets/elec1.png" alt="Snow" style="width:100%;height: 200px;">
         
        </div>
        <div class="column">
          <img src="../../assets/elec2.jpg" alt="Forest" style="width:100%;height: 200px;">
         
        </div>
        
      </div>

      <div style="margin-left:20px;margin-right: 40px;text-align: justify;">
    <h3>Electronics comprises the physics, engineering, technology and applications that deal with the emission, flow and control of electrons in vacuum and matter.[1] It uses active devices to control electron flow by amplification and rectification, which distinguishes it from classical electrical engineering which uses passive effects such as resistance, capacitance and inductance to control current flow.

        Electronics has had a major effect on the development of modern society. The identification of the electron in 1897, along with the subsequent invention of the vacuum tube which could amplify and rectify small electrical signals, inaugurated the field of electronics and the electron age.[2] This distinction started around 1906 with the invention by Lee De Forest of the triode, which made electrical amplification of weak radio signals and audio signals possible with a non-mechanical device. Until 1950, this field was called "radio technology" because its principal application was the design and theory of radio transmitters, receivers, and vacuum tubes.</h3>
    
    </div>
      

